.mainLabel{
  font-size: 1.2em;
  width: 100%;
  text-align: justify;
}

hr{
  width: 90%;
  border-color: #009fc8;
}

.form-group{
  padding-left: 5%;
  padding-right: 5%;
}

.sectionTitle {
  padding-left: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-bottom: 1px solid #f8941e;
}

.sectionTitle span{
  position: relative;
  top: 7px;
}

.hidden {
  display: none;
}

a.toggle-tips{
  float: right;
  color: inherit;
  text-decoration: none;
  padding-right: 5%;
}

.toggle-tips svg{
  transition: all 0.5s;
}

.overlay.hidden ~ .toggle-tips svg{
  transform: rotate(-90deg);
}

.overlay {
  z-index: 10;
  background-color: white;
  border: 1px solid #ff9090;
  position: absolute;
  border-radius: 5px;
}
