h4
{
  color:#65768e;
}


.panel .panel-default{
  margin: 30px;
}

.btn-primary {
    color: #fff;
    background-color: #65768e;
    border-color: #65768e;
}

.btn-primary:hover {
    background-color: #65768e;
    border-color: #65768e;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(101, 118, 142);
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #65768e;
    border-color: #65768e;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(101, 118, 142);
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(221, 221, 221);
}

.alert-info {
    color: #65768e;
    background-color: #dedede;
    border-color: #dedede;
}
