.btn-primary {
    color: #fff;
    background-color: #009fc8;
    border-color: #009fc8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #009fc8;
    border-color: #009fc8;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #009fc8;
    border-color: #009fc8;
}

.text-success {
    color: #f8941e!important;
    font-weight: bold;
}

h4 {
    font-size: 2.5rem;
    color: #65768e;
}

.badge-secondary {
    background-color: #65768e;
}

.btn-secondary {
    background-color: #65768e;
    border-color: #65768e;
}
