.spec .col-sm-2 {
	border-left: 1px solid #b6bdce;
}

.thumbnails{
	text-align: center;
}

.thumbnails span{
	position: absolute;
	right: 10%;
	color: #dc3545;
}

@media (max-width:576px) {
	.thumbnails svg{
		font-size: 30px;
	}
}
