h4 {
    font-size: 2.5rem;
    color: #65768e;
}

td.productImg{
  width: 124px;
}

td.amount{
  width: 100px;
}

.btn-danger {
    background-color: #f8941e;
    border-color: #f8941e;
}

.btn-danger:hover {
    background-color: #d68322;
    border-color: #d68322;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(232, 188, 136);
}

.btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    background-color: #d68322;
    border-color: #d68322;
}

.btn-success {
    background-color: #009fc8;
    border-color: #009fc8;
}

.btn-success:hover {
    background-color: #038fb3;
    border-color: #038fb3;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(115, 208, 232);
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #038fb3;
    border-color: #038fb3;
}

.btn-warning {
    color: #ffffff;
    background-color: #f8941e;
    border-color: #f8941e;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgb(115, 208, 232);
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #d68322;
    border-color: #d68322;
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    color: #ffffff;
    background-color: #d68322;
    border-color: #d68322;
}

table#shoppingCartTable{
  border: none;
}

table#shoppingCartTable td{
  border: none;
}

table#shoppingCartTable td.delete_cart {
  text-align: center;
  vertical-align: middle;
}

table#shoppingCartTable tfoot tr td:last-child{
  vertical-align: middle;
  font-size: 1.3em;
}

table#shoppingCartTable tfoot tr td:first-child{
  width: 100px;
  max-width: 100px;
}

table#shoppingCartTable tfoot tr td:first-child a{
  width:100%;
  margin: 5px 0;
}
