p{
    max-width: 800px;
    margin: 40px auto;
    line-height: 1.5em;
    font-size: 1.2em;
    padding: 10px;
}

h3{
  width:100%;
  color: #65768e;
  text-align:center;
  border-bottom: 1.5px solid #65768e;
  line-height: 0.1em;
  margin: 20px 35% 20px;
  width: 30%;
  position: relative;
}

h3 span{
  background: #fff;
  padding: 0 10px;

}

h3 span::before{
  margin-left: -50%;
}

h3 span::after{
  margin-right: -50%;
}

#title_about{
  text-align: center;
  color: #65768e;
}
